.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Card Styles */
.card {
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 8px;
  margin-bottom: 20px; 
}

/* Image Styles */
.card-img-top {
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Card Body Styles */
.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* Card Title */
.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Card Description */
.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text.flex-grow-1 {
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}

/* Read More Button */
.btn-outline-primary {
  margin-top: auto; 
  opacity: 0.8; 
  transition: opacity 0.3s ease; 
}

.btn-outline-primary:hover {
  opacity: 1; 
}
